.rows-clickable tbody tr {
  cursor: pointer;
}

.form-fluid input[type="text"],
.form-fluid textarea {
  width: 99%;
}

.formula [title] {
  border-bottom: 1px dashed;
  cursor: help;
}

table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: #f7f7f9;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.comment {
  float: none;
}

.comment:target {
  border-color: blue !important;
}
.comment.unread {
  border-color: #F89406;
}

.btn-group .chzn-container {
  float: left;
}

th[scope="row"] {
  text-align: left;
}

.table thead th {
  vertical-align: middle;
}

.popover {
  width: 50%;
  left: 25% !important;
}

.container {
  width: auto;
}

.form-horizontal .chzn-container {
  vertical-align: middle;
}

form a[href="#"] {
  text-decoration: none;
  border-bottom: 1px dashed;
}

.dropdown-menu {
  /* min-width: 100%; */
}

.datepicker.dropdown-menu {
  min-width: auto;
}

legend {
  margin-bottom: .2em;
}

legend + .control-group {
  margin-top: 0;
}

fieldset {
  margin-bottom: 1.2em;
}

.well:empty {
  display: none;
}

.emptable+div {
  display: none;
}
  .emptable:empty+div {
    display: block;
  }

.event-completed-yes {
  background-color: #ccc !important;
}

#orders-quick-search {
  margin: 0;
}
  #orders-quick-search input {
    margin: 0;
  }

#add-new-client-from-order-form {
  position: relative;
  top: -8px;
  left: 5px;
}
